<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= travel.title %></title>
  <link rel="stylesheet" href="/stylesheets/show.css">

</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

  <div class="travel-content">
    <h1><%= travel.title %></h1>
    <p>Date: <%= travel.date.toDateString() %></p>
    <div class="photo-description">
      <img src="<%= travel.photo %>" alt="<%= travel.title %>">
      <p><%= travel.description %></p>
    </div>

    <div class="buttons">
      <a href="/users/<%= user._id %>/travels/<%= travel._id %>/edit">Edit this Blog</a>
      <form
        action="/users/<%= user._id %>/travels/<%= travel._id %>?_method=DELETE"
        method="POST">
        <button id="delete" type="submit">Delete this Blog</button>
      </form>
    </div>
  </div>
</body>
</html>