<!-- views/applications/show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= travel.title %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= travel.title%> at <%=travel.date.toDateString()%> </h1>
  <img src="<%= travel.photo %>" alt="<%= travel.title %>">
  <p>Description: <%= travel.description %></p>

  <a href="/users/<%= user._id %>/travels/<%= travel._id %>/edit">
    Edit this Blog
  </a>

  <form
  action="/users/<%= user._id %>/travels/<%= travel._id %>?_method=DELETE"
  method="POST">
  <button type="submit">Delete this Blog</button>
</form>
</body>
</html>